.menu-container {
	width: auto;
	margin: 0 auto; 
	overflow: hidden;
	position:relative;
	padding-bottom:50px;
        float: left;
}

.regions, .statistics { position: relative; left: 5px; }

.panel { 
	width:300px;
	list-style:none; 
	padding-top:30px;
	display:inline-block;
}

.panel li {  
	border-radius:3px 3px 3px 3px; 
	margin-top:5px;
	width:150px;
	background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	background: -o-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333;
}

.panel li.animation { 
	-moz-transition: all 0.4s ease-in-out; 
	-moz-transform:translateX(0px); 
	-o-transition: all 0.4s ease-in-out; 
	-o-transform:translateX(0px); 
	-webkit-transition: all 0.4s ease-in-out; 
	-webkit-transform:translateX(0px); 
}

.panel li.animation:hover { 
	background: -moz-linear-gradient(top, #606060 0%, #161616 100%);
	background: -webkit-linear-gradient(top, #606060 0%, #161616 100%);
	-moz-transform:translateX(5px);
	-o-transform:translateX(5px);
	-webkit-transform:translateX(5px);
}

.panel li.active {  
	border-radius:3px 3px 3px 3px; 
	margin-top:5px;
	width:150px;
	background: #000000;
	background: -moz-linear-gradient(top, #404040 0%, #161616 100%);
	background: -webkit-linear-gradient(top, #404040 0%, #161616 100%);
	border-left:2px solid #111; border-top:2px solid #111; border-right:2px solid #333; border-bottom:2px solid #333;
}


.panel li a { 
	color:#fff; 
	display:block; 
	padding:10px;
}

.panel li a:hover { 
	color:#00c6ff;
}

@-moz-keyframes bounceX {
			0% { -moz-transform: translateX(-205px); -moz-animation-timing-function: ease-in; }
			
			40% { -moz-transform: translateX(-100px); -moz-animation-timing-function: ease-in; }
			65% { -moz-transform: translateX(-52px); -moz-animation-timing-function: ease-in; }
			82% { -moz-transform: translateX(-25px); -moz-animation-timing-function: ease-in; }
			92% { -moz-transform: translateX(-12px); -moz-animation-timing-function: ease-in; }
			
			55%, 75%, 87%, 97%, 100% { -moz-transform: translateX(0px); -moz-animation-timing-function: ease-out; }
}

@-webkit-keyframes bounceX {
			0% { -webkit-transform: translateX(-205px); -webkit-animation-timing-function: ease-in; }
			
			40% { -webkit-transform: translateX(-100px); -webkit-animation-timing-function: ease-in; }
			65% { -webkit-transform: translateX(-52px); -webkit-animation-timing-function: ease-in; }
			82% { -webkit-transform: translateX(-25px); -webkit-animation-timing-function: ease-in; }
			92% { -webkit-transform: translateX(-12px); -webkit-animation-timing-function: ease-in; }
			
			55%, 75%, 87%, 97%, 100% { -webkit-transform: translateX(0px); -webkit-animation-timing-function: ease-out; }
}








