#twitter-container {
    width: 300px;
    overflow: hidden;
    padding-bottom: 50px;
    float: right;
    right: 40px;
    bottom: 40px;
    top: 40px;
    text-align: center;
    position: absolute;
}

#twitter-container ul li div {
    border: 1px solid #aaaaaa;
    background: #ffffff;
}
blockquote.twitter-tweet {

    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 300px;
    background: white;
    opacity: 0.5;

    color: black;
    font-family: Arial;
}
blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
}
blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}
blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
    text-decoration: underline;
}